<template>
  <main-layout>
    <div id="about">
      <h1>About</h1>
      <p>This is the about page. Here, you will read many things about what this 
      site is for, who made it, and why.</p>
      <p>When you are done reading, feel free to go back to the <router-link :to="{ name: 'home' }" exact>home</router-link> page.</p>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue' 

export default {
  name: 'about',
  components: {
    MainLayout
  }
}
</script>