<template>
  <main-layout>
    <div id="home">
      <img class="celtic-logo" src="../assets/celtic.png" alt="Celtic Chicago">
      <h1>{{ docHeader }}</h1>
      <p>Welcome to Vue-Webpack. This is the home page.</p>
      <h3>What have we here?</h3>
      <p>This is an implementation of the Vue-Webpack template scaffolded with the <a target="_blank" href="https://github.com/vuejs/vue-cli">vue-cli</a>, using <code>vue init webpack</code>.</p>
      <p>Also included is <a target="_blank" href="http://foundation.zurb.com/sites.html">Foundation</a> Sass, which makes for for quick prototyping. By default, I've included the following Sass files in the App.vue's Scss:</p>
      <p><code class="code-block">&lt;style lang="scss"&gt;<br>@include foundation-global-styles;<br>@include foundation-xy-grid-classes;<br>@include foundation-typography;<br>@include foundation-button;<br>@include foundation-menu;<br>@include foundation-dropdown;<br>@include foundation-dropdown-menu;<br>@include foundation-visibility-classes;<br>&lt;/style&gt;</code></p>
      <p>Note that the Foundation JavaScript is <em>not</em> loaded. This may be implemented in the future in a similar manner as this <a target="_blank" href="https://github.com/vue-foundation/vue-foundation">Vue-Foundation</a> project.</p>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue' 

export default {
  name: 'home',
  data () {
    return {
      docHeader: 'Home'
    }
  }, 
  components: {
    MainLayout
  }
}
</script>

<style lang="scss" scoped>
  .celtic-logo {
    width: 100px;
    height: auto;
    float: right;
  }
</style>