<template>
  <main-layout :options="{ hideHeader: true }">
    <div id="not-found">
      <h1>Oops!</h1>
      <p>Sorry, but the requested content could not be found.</p>
    </div>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue' 

export default {
  name: 'about',
  components: {
    MainLayout
  }
}
</script>