<template>
  <header>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <ul class="menu">
            <li><router-link :to="{ name: 'home' }" exact>Home</router-link></li>
            <li><router-link :to="{ name: 'about' }">About</router-link></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'siteHeader'
}
</script>

<style lang="scss" scoped>
@import '../settings'; // so we can use Foundation colors
header {
  background: $light-gray;
  .menu a {
    background: $black;
    color: $white;
    &.router-link-active, &:hover {
      background: lighten($black, 20%);
    }
  }
}
</style>