<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
@import 'settings';
@import '~foundation-sites/scss/foundation';
// For a full list of Foundation includes:
// http://foundation.zurb.com/sites/docs/sass.html#adjusting-css-output
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-visibility-classes;

code.code-block {
  display: inline-block;
}
</style>
