<template>
  <div class="main-layout">
    <site-header v-if="showHeader"></site-header>
    <div class="grid-container page-wrapper">
      <div class="grid-x">
        <div class="cell">
          <page-transition>
            <slot v-if="mounted"></slot>
          </page-transition>
        </div>
      </div>
    </div>
    <footer></footer>
  </div>
</template>

<script>
import SiteHeader from '../components/SiteHeader.vue'
import PageTransition from '../components/PageTransition.vue'

export default {
  name: 'mainLayout',
  props: {
    options: { type: Object, default: function () { return { hideHeader: false }}}
  },
  data: function () {
    return { mounted: false }
  },
  computed: {
    showHeader: function () {
      return !this.options.hideHeader
    }
  },
  components: {
    SiteHeader, PageTransition
  },
  mounted: function () {
    this.mounted = true
  }
}
</script>

<style lang="scss" scoped>
.main-layout > .page-wrapper {
  margin-top: 50px;
}
</style>